<div
  (click)="clickSelectAmigo()"
  (click)="showDivAllMensajes()"
  class="
    d-flex
    py-1
    position-relative
    overflow-visible
    select-pointer
    max-600-mensajesAmigo
  "
>
  <span
    *ngIf="!imagen"
    class="material-icons position-relative"
    style="font-size: 40px"
  >
    account_circle
  </span>
  <img
    class="d-none rounded-circle mt-1 me-1"
    style="width: 35px !important; height: 35px !important"
    #spanImagen
  />
  <p
    class="
      pe-4
      overflow-hidden
      text-nowrap
      ellipsis
      segoepr
      dark
      size-parrafo
      fw-bold
      my-auto
      ms-2
      h-fit
    "
    style="width: 200px; overflow-wrap: break-word !important"
  >
    {{ nombre }}
    <small class="d-block gris-claro text-nowrap ellipsis">
      {{ chatAmigo.mensaje }}</small
    >
  </p>
  <div
    *ngIf="isActivo | async as isActivo"
    [ngClass]="{ activo: isActivo[0].activo }"
    class="px-1"
  ></div>
</div>
