.max-600-mensajes div {
  width: 90% !important;
  margin: auto !important;
}

@media screen and (max-width: 600px) {
  .max-600-mensajes {
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 10px !important;
    box-shadow: none !important;
  }

  .max-600-mensajes div {
    padding: 0 !important;
    margin: 0 !important;
    width: 70% !important;
    margin-bottom: 20px !important;
  }
}
