<div
  (click)="eventClick()"
  class="d-flex py-1 mx-auto position-relative overflow-visible select-pointer"
  style="width: 90%"
>
  <span class="material-icons position-relative" style="font-size: 50px">
    account_circle
  </span>
  <p
    class="
      text-nowrap
      ellipsis
      segoepr
      w-50
      dark
      size-parrafo
      fw-bold
      my-auto
      ms-2
      h-fit
    "
    style="overflow-wrap: break-word"
  >
    Miguel Valero
  </p>
  <div class="activo"></div>
</div>
