.max-600-post h5 {
  width: 90% !important;
}

@media screen and (max-width: 600px) {
  .max-600-post {
    width: 100% !important;
    box-shadow: none !important;
    display: block !important;
    padding: 0 !important;
    padding-top: 10px !important;
    border-radius: 0 !important;
    margin: 0 !important;
  }

  .max-600-post h5 {
    width: 100% !important;
  }
}
