<div
  #appPost
  class="
    position-relative
    configuracion
    select-off
    mb-4
    mx-auto
    d-block
    sombra
    rounded-3
    max-600-post
  "
  style="width: 100%"
>
  <h6 class="p-0 m-0 mx-auto dark roboto size-opciones" style="width: 90%">
    Ubicacion
  </h6>
  <input
    #ubicacion
    type="text"
    disabled
    class="outline-off border-0 d-flex mx-auto"
    style="width: 90%"
    placeholder="{{ datos?.ubicacion || 'sin asignar' }}"
  />
</div>

<div
  #appPost
  class="
    position-relative
    configuracion
    select-off
    my-4
    mx-auto
    d-block
    sombra
    rounded-3
    max-600-post
  "
  style="width: 100%"
>
  <h6 class="p-0 m-0 mx-auto dark roboto size-opciones" style="width: 90%">
    Telefono
  </h6>
  <input
    #telefono
    type="text"
    disabled
    class="outline-off border-0 d-flex mx-auto"
    style="width: 90%"
    placeholder="{{ datos?.telefono || 'sin asignar' }}"
  />
</div>

<div
  #appPost
  class="
    position-relative
    configuracion
    select-off
    my-4
    mx-auto
    d-block
    sombra
    rounded-3
    max-600-post
  "
  style="width: 100%"
>
  <h6 class="p-0 m-0 mx-auto dark roboto size-opciones" style="width: 90%">
    Profesion
  </h6>
  <input
    #profesion
    type="text"
    disabled
    class="outline-off border-0 d-flex mx-auto"
    style="width: 90%"
    placeholder="{{ datos?.profesion || 'sin asignar' }}"
  />
</div>

<div
  #appPost
  class="
    position-relative
    configuracion
    select-off
    my-4
    mx-auto
    d-block
    sombra
    rounded-3
    max-600-post
  "
  style="width: 100%"
>
  <h6 class="p-0 m-0 mx-auto dark roboto size-opciones" style="width: 90%">
    Pasatiempos
  </h6>
  <input
    #pasatiempos
    type="text"
    disabled
    class="outline-off border-0 d-flex mx-auto"
    style="width: 90%"
    placeholder="{{ datos?.que_te_gusta || 'sin asignar' }}"
  />
</div>

<div
  #appPost
  class="
    ultima-config
    position-relative
    configuracion
    select-off
    my-4
    mx-auto
    d-block
    sombra
    rounded-3
    max-600-post
  "
  style="width: 100%"
>
  <h6 class="p-0 m-0 mx-auto dark roboto size-opciones" style="width: 90%">
    Genero de musica preferido
  </h6>
  <input
    #musica
    type="text"
    disabled
    class="outline-off border-0 d-flex mx-auto"
    style="width: 90%"
    placeholder="{{ datos?.genero_musical || 'sin asignar' }}"
  />
</div>
