<div
  #amigoActivo
  class="d-block sombra position-relative overflow-hidden alturaPantalla"
  style="width: 100%; padding-top: 116px"
>
  <div
    class="d-block position-absolute bg-purpura"
    style="
      width: 100%;
      height: 116px;
      margin-top: -116px;
      padding-top: 0.75rem !important;
      padding-bottom: 0.75rem !important;
    "
  >
    <div class="w-100 d-block atras">
      <h6
        (click)="eventClick()"
        class="
          size-opciones
          w-100
          px-3
          py-2
          roboto
          d-flex
          align-items-center
          white
          select-pointer
        "
      >
        <span
          class="material-icons h-fit position-relative"
          style="margin-bottom: -2px"
        >
          chevron_left
        </span>
        atras
      </h6>
    </div>
    <div
      class="rounded-top d-flex m-0 px-3 position-relative"
      style="width: 100%"
    >
      <span
        *ngIf="!imagen"
        class="material-icons position-relative"
        style="font-size: 50px"
      >
        account_circle
      </span>
      <img
        class="d-none rounded-circle"
        style="width: 48px !important; height: 42px !important"
        #spanImagen
      />
      <p
        class="
          text-nowrap
          ellipsis
          segoepr
          white
          size-parrafo
          fw-bold
          select-text
          my-auto
          ms-2
          h-fit
          pt-2
        "
        style="width: 100%"
      >
        {{ nameUser }}
        <!-- <small class="d-block size-small segoepr claro"> Activo</small> -->
      </p>
    </div>
  </div>

  <section
    id="all-mensajes"
    class="scroll text-center"
    style="
      height: 100%;
      overflow-x: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
    "
  >
    <div *ngFor="let mensaje of mensajes; last as esUltimo">
      <div
        class="h-fit mt-3 p-3 rounded-3 sombra-menor mx-auto"
        style="width: 90%"
        [ngClass]="{
          'bg-resp': selectAmigo.id == mensaje.toUser,
          'mb-3': esUltimo
        }"
      >
        <p
          class="h-fit m-0 p-0 size-comentarios gris-claro segoepr"
          style="overflow-wrap: break-word; text-align: start"
        >
          {{ mensaje.mensaje }}
        </p>
        <small
          class="
            pt-3
            size-small
            gris-fecha
            roboto
            d-flex
            justify-content-end
            align-content-end
          "
        >
          {{ mensaje.fecha }}</small
        >
      </div>
      <div *ngIf="esUltimo">
        {{ scrollInto() }}
      </div>
    </div>

    <div *ngIf="!numMensajes" style="width: 100%; height: 76%">
      <p
        class="d-flex m-auto w-fit size-nombres segoepr gris"
        style="padding-top: 50%"
      >
        No hay mensajes
      </p>
    </div>

    <div
      class="d-flex h-fit rounded-3 bg-white pb-3"
      style="width: 100%; margin-top: auto !important"
    >
      <div class="d-b position-relative h-fit mx-auto" style="width: 90%">
        <div class="d-block position-relative">
          <form
            #formulario
            spellcheck="true"
            autocomplete="off"
            [formGroup]="forms"
            novalidate
            (ngSubmit)="addMensaje(formulario)"
          >
            <input
              name="mensaje"
              #ultimoAmigos
              formControlName="mensaje"
              type="text"
              class="
                py-2
                mb-2
                h-50
                w-100
                border-0 border-bottom
                my-auto
                select-on
                outline-off
              "
              placeholder="Escribir mensaje"
              style="
                border-color: #3e3e3e !important;
                outline: none;
                padding-right: 40px !important;
              "
            />
            <span
              (click)="addMensaje(formulario)"
              class="material-icons fs-2 select-pointer"
              style="
                position: absolute;
                bottom: 20px;
                margin-left: -30px;
                margin-bottom: -7px;
              "
            >
              send
            </span>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
